<body>

  <div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th>Days Left</th>
                <th>Complete</th>
            </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr id='item-<%= item.id %>'>
              <td>
                <%= item.name %>&nbsp
                <%= link_to " ", edit_item_path(item), remote: true, class: "glyphicon glyphicon-pencil"%>
              </td>
              <td><%= distance_of_time_in_words(Time.now, item.created_at + 7.days) %></td>
              <td><%= link_to ' ', [item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
              </td>
            </tr>
          <% end %>
        </tbody>
    </table>
    <br/>
    <%= form_for [@item] do |f| %>
      <div class="form-group">
        <%= f.text_field :name, rows: 1, cols: 40, class: 'form-control', placeholder: "To-do..." %>
      </div>
      <div class="form-group">
        <%= f.submit 'Add item', class: 'btn btn-sm btn-primary' %>
      </div>
    <% end %>
  </div>

</body>
