<!DOCTYPE html>
<html>
<head>
  <title>Bruno To-do</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="header">
      <nav>
        <ul class="nav nav-pills pull-right">
          <!-- <li role="presentation"><%= link_to "About", about_path %></li> -->
               <% if current_user %>
               <li role="presentation"><%= link_to current_user.email, edit_user_registration_path %></li>
               <% else %>
                 <li role="presentation"><%= link_to "Sign In", new_user_session_path %></li>
               <% end %>

        </ul>
      </nav>
      <% if current_user %>
      <h3><%= link_to "To-do", items_path, class: 'todo' %></h3>
      <% else %>
      <h3><%= link_to "To-do", root_path, class: 'todo' %></h3>
      <% end %>
    </div>
  </div>


<%= yield %>

</body>

  <div class="container">
    <footer class="footer">
      <p>&copy; Bruno Gabrielli 2014</p>
    </footer>
  </div>

</html>
